* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 16px;
  padding: 0px 5px 0px 5px;
  border-radius: 8px;
}

window#waybar {
  background: rgba(0, 0, 0, 0);
}

#cpu {
  background: #f9e2af;
  color: #1e1e2e;
  margin: 0px 0px 0px 5px;
}

#memory {
  background: #b4befe;
  color: #1e1e2e;
  margin: 0px 0px 0px 5px;
}

#custom-updates {
  background: #eba0ac;
  color: #1e1e2e;
  margin: 0px 0px 0px 5px;
}


window#waybar.tiled #window {
  padding-left: 5px;
  padding-right: 5px;
  color: #1e1e2e;
  background-color: #f5e0dc;
}


window#waybar.solo #window {
    padding-left: 5px;
    padding-right: 5px;
    color: #1e1e2e; /* base2 */
    background-color: #f5e0dc; /*base02*/
}



#taskbar {
  background-color: #f5e0dc;
  margin: 0px 0px 0px 5px;
}




#workspaces {
  background: #8bd5ca;
  margin-left: -5;
}

#workspaces button {
  border-radius: 15px;
  padding: 0px;
}

#workspaces button label {
  color: #1e1e2e;
  margin: 0px 3px 0px 3px;
  padding: 0px;
}

#workspaces button.active {
  background: #1e1e2e;
  margin: 2px 0px 2px 0px;
  border-radius: 15px;
}

#wireplumber {
  color: #1e1e2e;
  background: #a6e3a1;
  margin: 0px 0px 0px 5px;
}

#network {
  color: #1e1e2e;
  background: #cba6f7;
  margin: 0px 0px 0px 5px;
}

#clock {
  color: #1e1e2e;
  background: #fab387; /* 修改为新的颜色 */
  margin: 0px 0px 0px 5px;
}

#tray {
  background: #f2cdcd;
  margin: 0px 0px 0px 5px;
}

#custom-media {
  color: #1e1e2e;
  background: #8bd5ca; /* 使用另一种颜色 */
  margin: 0px 0px 0px 50px;

}

#mode {
  background: #eba0ac; /* 使用另一种颜色 */
  color: #1e1e2e;
  margin: 0px 0px 0px 5px;
}

#cava {

    background: #94e2d5


}
